<?xml version="1.0" encoding="UTF-8" ?>
<!--        로그 레벨 계층: (낮음) TRACE < DEBUG < INFO < WARN < ERROR < FATAL (높음)-->
<!--자바 기반의 로깅 프레임 워크 -->
<!--        Appenders , 설정은, 출력 대상을 정의하는 곳, -->
<!--예시, 1) 콘솔, 2) 파일 3) 데이터베이스 기록이 가능. -->
<!--예시, 1) 콘솔 예로 하고 있음.-->
<!--        PatternLayout-->
<!--예시, 콘솔에 출력하는 메세지 형식, 포맷,-->
<!--        %d{HH:mm:ss.SSS} -> 시간 분 초 기록,-->
<!--        [%t] -> 스레드에 동작. 예시) [main]-->
<!--        %-5level -> 로그레벨 표기, 5글자 왼쪽 정렬. 예시) [ INFO],-->
<!--        %logger{36} -> 패키지 명을 기록. -->
<!--        %msg -> 출력 메서지를 기록.-->
<!--        %n -> 줄넘김-->
<Configuration status="WARN">
    <Appenders>
        <!--        출력 대상 콘솔-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}-%msg%n"/>
        </Console>
        <!--        추가 부분-->
        <!--출력 대상 파일-->
        <File name="FileAppender" fileName="logs/error.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}-%msg%n"/>
        </File>
        <!--        추가 부분-->

    </Appenders>
    <Loggers>
        <!--        추가 부분-->
        <!--        특정 패키지 명으로 설정가능. -->
        <Logger name="com.busanit501" level="debug" additivity="false">
<!--            additivity="false": 상위 로거(Root 로거)로 이벤트를 전달하지 않음-->
            <AppenderRef ref="FileAppender" level="info"/>
            <AppenderRef ref="Console" level="info"/>
        </Logger>
        <!--        추가 부분-->

        <!--        전체 설정 기본적으로 INFO 이상일 때 로그를 출력하게 설정-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>